.App {
  max-width: 600px;
  margin: 30px auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  font-size: 45px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 160px;
  padding-left: 80px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding-left: 80px;
  color: white;
  font-size: 14px;
  font-weight: 75;
  line-height: 17px;
  margin-top: 20px;
}

li::first-letter {
  text-transform: capitalize;
}
.enter-city {
  position: static;
  width: 400px;
  margin-left: 1px;
}

.btn-primary {
  position: static;
  background-color: royalblue;
}

.btn-primary:hover {
  background-color: white;
  color: royalblue;
}

.btn-success {
  position: relative;
  left: 20px;
  background-color: royalblue;
}
.btn-success:hover {
  background-color: white;
  color: royalblue;
}
